.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    .title{
        width: 50%;
        font-size: 18px;
        font-weight: 600;
    }
    .star{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    .cat{
        width: 50%;
        font-size: 14px;
    }
    .num{
        width: 50%;
        font-size: 12px;
        text-align: end;
    }
    .text{
        width: 100%;
        font-size: 14px;
    }
}