.reg{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .forms{
        display: flex;
        flex-direction: column;
        input{
            width: 250px;
            padding: 10px 5px;
            margin: 5px 0;
            border: 1px solid #4E4E4E;
            border-radius: 10px;
        }
        p{
            margin: 2px 0;
        }
        .falsePass{
            color: red;
            font-size: 14px;
            max-width: 250px;
        }
        .must{
            color: red;
        }
        .login{
            background:linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
            border-radius: 10px;
            padding: 10px 0;
            color: #fff;
        }
        .back{
            width: 270px;
            padding: 10px 0;
            border-radius: 10px;
            background: none;
            border: none;
            text-decoration: underline;
            margin-top: 10px;
        }
    }
}